body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
  overflow: hidden;
  background-color: #E3FDFD;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 15px;
}

section .container-question .question, section .container-answer .answer1, section .container-answer .answer2, section .container-answer .answer3, section .container-answer .answer4, section .skip button {
  background-color: #CBF1F5;
  display: flex;
  align-items: center;
  box-shadow: 10px 5px 5px #A6E3E9;
  border-radius: 30px;
}

section .container-question .question strong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav .close {
  background-color: #71C9CE;
  border: 0;
  font-weight: 300px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}
nav .note-condidat {
  background-color: #71C9CE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
  width: 70px;
}
nav .note-condidat .image {
  padding-top: 2px;
}
nav .note-condidat .lesNotes {
  padding-bottom: 3px;
  padding-left: 4px;
}
nav .note-condidat .lesNotes span {
  font-size: medium;
  color: #fff;
}

section {
  align-items: center;
}
section .container-question {
  padding-left: 300px;
}
section .container-question .round-time-bar {
  margin: 1rem;
  overflow: hidden;
  border-radius: 30px;
}
section .container-question .round-time-bar div {
  height: 5px;
  -webkit-animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
          animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
  transform-origin: left center;
  background: linear-gradient(to bottom, #71C9CE, #71C9CE);
}
section .container-question .round-time-bar[data-style=smooth] div {
  -webkit-animation: roundtime calc(var(--duration) * 1s) linear forwards;
          animation: roundtime calc(var(--duration) * 1s) linear forwards;
}
@-webkit-keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}
@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}
section .container-question .question {
  justify-content: center;
  width: 700px;
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
}
section .container-answer {
  display: flex;
  justify-content: space-between;
}
section .container-answer .answer1 {
  justify-content: center;
  margin: 30px;
  height: 150px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  cursor: pointer;
}
section .container-answer .answer1:hover {
  box-shadow: 0px 10px 12px rgba(11, 114, 151, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
section .container-answer .answer2 {
  justify-content: center;
  margin: 30px;
  height: 150px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  cursor: pointer;
}
section .container-answer .answer2:hover {
  box-shadow: 0px 10px 12px rgba(11, 114, 151, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
section .container-answer .answer3 {
  justify-content: center;
  margin: 30px;
  height: 150px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  cursor: pointer;
}
section .container-answer .answer3:hover {
  box-shadow: 0px 10px 12px rgba(11, 114, 151, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
section .container-answer .answer4 {
  justify-content: center;
  margin: 30px;
  height: 150px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  cursor: pointer;
}
section .container-answer .answer4:hover {
  box-shadow: 0px 10px 12px rgba(11, 114, 151, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
section .container-answer .correct-answer {
  background-color: rgba(46, 229, 157, 0.4);
}
section .container-answer .incorrect-answer {
  background-color: red;
}
section .skip {
  display: flex;
  justify-content: end;
  padding-right: 30px;
  text-align: center;
}
section .skip button {
  padding-left: 35px;
  border: 0;
  border-radius: 0;
  width: 100px;
  height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  cursor: pointer;
}
section .skip button:hover {
  box-shadow: 0px 10px 12px #71C9CE;
  color: #fff;
  transform: translateY(-2px);
}/*# sourceMappingURL=quiz.css.map */