@use "../USE/body";
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .close{
        background-color: #71C9CE;
        border: 0;
        font-weight: 300px;
        font-size: large;
        border-radius: 5px;
        cursor: pointer;
    }
    .note-condidat{
        background-color: #71C9CE;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        height: 30px;
        width: 70px;
        .image{
            padding-top: 2px;
        }
        .lesNotes{
            padding-bottom: 3px;
            padding-left: 4px;
            span{
                font-size: medium;
                color: #fff;
            }
        }
    }
}
section{
      align-items: center;
    .container-question{
         .round-time-bar {
            margin: 1rem;
            overflow: hidden;
            border-radius: 30px;
      }
      .round-time-bar div {
        height: 5px;
        animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
          forwards;
        transform-origin: left center;
        background: linear-gradient(to bottom, #71C9CE, #71C9CE);
      }
    .round-time-bar[data-style="smooth"] div{
        animation: roundtime calc(var(--duration) * 1s) linear forwards;
    }
    @keyframes roundtime {
        to {
          /* More performant than `width` */
          transform: scaleX(0);
        }
      }
      padding-left: 300px;
      .question{
        @extend %flexAndBoxshadow;
        justify-content: center;
        width: 700px;
        height: 200px;
        padding-left: 30px;
        padding-right: 30px;
        strong{
          @extend %styleLetter;
        }
      }
    }
    .container-answer{
      display: flex;
      justify-content: space-between;
        @for $i from 1 through 4{
          .answer#{$i} {
            @extend %flexAndBoxshadow;
            justify-content: center;
            margin: 30px;
            height: 150px;
            width: 500px;
            padding-left: 20px;
            padding-right: 20px;
            border: 0;
            cursor: pointer;
            &:hover{
              box-shadow: 0px 10px 12px rgba(11, 114, 151, 0.4);
              color: #fff;
              transform: translateY(-2px);
            }          
          }
        } 
        .correct-answer{
            background-color: rgba(46, 229, 157, 0.4);
        }
        .incorrect-answer{
          background-color: red;
      }
    }
  .skip{
    display: flex;
    justify-content: end;
    padding-right: 30px;
    text-align: center;
      button{
          padding-left: 35px;
          border: 0;
          @extend %flexAndBoxshadow;
          border-radius: 0;
          width: 100px;
          height: 30px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: large;
          cursor: pointer;
          &:hover{
                        box-shadow: 0px 10px 12px #71C9CE;
                        color: #fff;
                        transform: translateY(-2px);
          }
      }
  }
}